<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Second.beforeMethod()[pri:0, instance:Second@458c1321]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>36</td> <td title="&lt;&lt;Second.afterSuite()[pri:0, instance:Second@458c1321]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>-33</td> <td title="&gt;&gt;Second.beforeSuite()[pri:0, instance:Second@458c1321]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Second.beforeClass()[pri:0, instance:Second@458c1321]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Second.afterMethod()[pri:0, instance:Second@458c1321]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>-28</td> <td>&nbsp;</td><td title="&gt;&gt;Second.beforeTest()[pri:0, instance:Second@458c1321]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Second.afterClass()[pri:0, instance:Second@458c1321]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>5</td> <td>&nbsp;</td><td title="&lt;&lt;Second.afterTest()[pri:0, instance:Second@458c1321]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Second.f(java.lang.Integer,java.lang.String)[pri:0, instance:Second@458c1321]">f</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Second.f(java.lang.Integer,java.lang.String)[pri:0, instance:Second@458c1321]">f</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Second.afterMethod()[pri:0, instance:Second@458c1321]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>21/07/07 17:47:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Second.beforeMethod()[pri:0, instance:Second@458c1321]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
</table>
